# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля
20,1,-1311.604166,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552.644578,недвижимость
21,1,-253.685166,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812.203909,приобретение автомобиля
22,1,-1766.644138,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681.140731,на покупку подержанного автомобиля
23,0,-272.981385,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265.720871,сыграть свадьбу
24,1,338551.952911,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547.235997,операции с коммерческой недвижимостью
25,0,363548.489348,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112.757732,покупка недвижимости
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
27,0,-529.191635,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848.983691,строительство собственной недвижимости
28,1,-717.274324,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863.237306,строительство собственной недвижимости
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
30,1,335581.668515,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456.067993,операции с коммерческой недвижимостью
31,0,-1682.083438,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485.684538,жилье
32,0,-4649.910832,34,СРЕДНЕЕ,1,гражданский брак,1,F,сотрудник,1,139057.464207,на проведение свадьбы
33,0,-1548.637544,48,среднее,1,женат / замужем,0,F,компаньон,0,157245.786233,покупка жилья
34,0,-4488.067031,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660.449203,операции со своей недвижимостью
35,0,394021.072184,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805.677436,на проведение свадьбы
36,0,-176.216688,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830.650734,автомобили
37,0,-6448.810860,43,ВЫСШЕЕ,0,гражданский брак,1,F,компаньон,0,154128.878672,приобретение автомобиля
38,0,-597.881827,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247.298639,образование
39,0,-650.587796,31,высшее,0,гражданский брак,1,F,компаньон,0,754240.797248,заняться образованием
40,0,-1030.362606,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865.579146,покупка недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
42,0,-1257.496190,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065.089021,получение образования
43,0,-4375.681384,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957.133509,приобретение автомобиля
44,1,-1362.041728,26,СРЕДНЕЕ,1,женат / замужем,0,F,сотрудник,0,100780.496749,на покупку своего автомобиля
45,1,-1039.451741,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385.919724,заняться образованием
46,2,-2262.712304,37,среднее,1,женат / замужем,0,F,компаньон,0,182682.459898,сделка с подержанным автомобилем
47,1,-2689.137274,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277.909345,на проведение свадьбы
48,0,-3341.067886,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065.516450,строительство собственной недвижимости
49,0,-1181.443228,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591.806888,автомобиль

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 80000:
            return 'C3'
        elif 80001 <= income <= 130000:
            return 'C2'
        elif 130001 <= income <= 200000:
            return 'C1'
        elif 200001 <= income <= 350000:
            return 'B3'
        elif 350001 <= income <= 600000:
            return 'B2'
        elif 600001 <= income <= 1000000:
            return 'B1'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Чтобы понять существует ли зависимость между количеством детей и возвратом кредита в срок, для начала сгруппируем данные по количеству детей и посчитаем сумму задолженности по каждой группе.

In [22]:
# Сгруппируем данные по количеству детей и посчитаем сумму задолженности по каждой группе. 
# Сумму по каждой группе сохраним в переменную children_debt_sum, вдруг понадобятся еще действия с ними.
children_debt_sum = data.groupby('children')['debt'].sum()
display(children_debt_sum)# Ваш код будет здесь. Вы можете создавать новые ячейки.

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

Получается что больше всего должников бездетные, а при увеличении количества детей возвращаемость кредитов увеличивается. 

Но данные показатели нельзя считать объективными так как количество заемщиков в каждой группе разное.

In [23]:
# Узнаем количество заемщиков в каждой группе. 
# Количество заемщиков сохраним в переменную children_debt_count
children_debt_count = data.groupby('children')['debt'].count()
display(children_debt_count)

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

Узнав количество заемщиков. Получается что больше всего заемщиков бездетные, а заемщиков с количеством детей больше 5 всего 9. 

Имея количество заемщиков по каждой группе и количество должников по каждой группе. Можно узнать отношение должников к общему количеству заемщиков по каждой группе и их процентное выражение.

In [24]:
# Узнаем отношение должников к общему количеству заемщиков по каждой группе.
ratio_dept_children = (children_debt_sum / children_debt_count)
display('Процент должников каждой группы равен:', ratio_dept_children * 100)

'Процент должников каждой группы равен:'

children
0    7.543822
1    9.234609
2    9.454191
3    8.181818
4    9.756098
5    0.000000
Name: debt, dtype: float64

Получается что в группе заемщиков без детей меньше всего должников только 7,5 процентов, а при увеличении количества детей в семье увеличивается число должников по кредиту от 8.18% до 9.75%. Хотя процент должников в семьях с 3 детьми меньше чем в семьях с одним или двумя детьми. А семьи с пятью детьми вообще не имеют задолженности когда в среди семей с четырьмя детьми самый большой процент должников 9.75, скорее всего это связано с недостаточным количеством, для подобного анализа, заемщиков с пятью детьми в семье.

Решение можно было упростить определив сразу среднее значение, в одну строку, создав сводную таблицу

In [25]:
data_pivot = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean'])
display(data_pivot)

          count   sum      mean
           debt  debt      debt
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

Можно просмотреть средние значения соседних групп семей, чтобы снивелировать значения.

In [26]:
print(data_pivot.loc[0:1, 'mean'].mean()*100)
print(data_pivot.loc[1:2, 'mean'].mean()*100)
print(data_pivot.loc[2:3, 'mean'].mean()*100)
print(data_pivot.loc[3:4, 'mean'].mean()*100)
print(data_pivot.loc[4:5, 'mean'].mean()*100)

debt    8.389216
dtype: float64
debt    9.3444
dtype: float64
debt    8.818005
dtype: float64
debt    8.968958
dtype: float64
debt    4.878049
dtype: float64

 В любом случае учитывать данные по семьям с пятью детьми в данном случае нежелательно, так как в данном, конкретном случае девять семей с пятью детьми, это мало для анализа. Конечно можно было бы группу с 5 детьми объединить с группой где детей трое или четверо, но тогда показатель платежеспособности группы с 5 детьми будет влиять на остальные группы.

**Вывод:** Анализируя полученные результаты можно сказать что наличие детей в целом влияет на возврат кредита в срок. А именно наличие детей ухудшает показатель возврата кредита в срок. Но количество детей в семье не сильно влияет на показатель возврата кредита в срок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для анализа зависимости между семейным положением и возвратом кредита в срок сразу составим сводную таблицу в которой сгруппируем данные по идентификатору семейного положения **family_status_id** и статусу семейного положения **family_status**. В таблицу поместим значения задолженности из столбца **debt** и определим их *количество*, *сумму* и *среднее значение*.

In [27]:
data_pivot = data.pivot_table(index=['family_status_id','family_status'], values='debt', aggfunc=['count', 'sum', 'mean'])
display(data_pivot)

                                        count  sum      mean
                                         debt debt      debt
family_status_id family_status
0                женат / замужем        12261  927  0.075606
1                гражданский брак        4134  385  0.093130
2                вдовец / вдова           951   63  0.066246
3                в разводе               1189   84  0.070648
4                Не женат / не замужем   2796  273  0.097639

**Вывод:** Исходя из полученных данных можно сразу сказать что самая большая группа это «женат/замужем», а самая малочисленная «вдовец / вдова». 
Ещё можно отметить что самая не дисциплинированная группа в плане возврата кредита это группа «Не женат / не замужем» и близкая к ней по среднему значению группа «гражданский брак».
На основании полученных данных можно предположить что люди находясь не в браке или живущие в гражданском браке более склонны просрочке или не выплате кредита из-за отсутствия семейной ответственности.
Находясь в браке люди становятся более ответственными и менее склонны просрочке или не выплате кредита.
И даже после развода или смерти супруга средний показатель невозврата кредита снижается, возможно из-за отсутствия возможной финансовой поддержки со стороны супругов и стремлении преодолевать финансовые трудности самостоятельно.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Составим сводную таблицу. Сгруппируем данные по категориям дохода это значения столбца **total_income_category**, которые мы добавили в таблицу ранее. В сводную таблицу поместим значения задолженности из столбца **debt** и определим их *количество*, *сумму* и *среднее значение*.

In [28]:
data_pivot = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'sum', 'mean'])
display(data_pivot)# Ваш код будет здесь.

                      count  sum      mean
                       debt debt      debt
total_income_category
A                        25    2  0.080000
B1                       84    6  0.071429
B2                      748   47  0.062834
B3                     4182  301  0.071975
C1                     8007  696  0.086924
C2                     6020  506  0.084053
C3                     1894  151  0.079725
D                       349   21  0.060172
E                        22    2  0.090909

**Вывод:** 
- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

Делая вывод по полученным данным можно сказать что самая большая группа это заемщики с уровнем дохода от 50 тыс. до 200 тыс. рублей. А самые малочисленные это группы с уровнем дохода до 30 тыс. и с доходом более 1 млн. рублей. Не много бедных, мало богатых, основная часть средний класс. 

Самый большой процент невыплаты кредита в группе с доходом до 30 тыс. рублей, что вполне закономерно, сложно выплачивать кредит, когда на жизнь не хватает.

Самые добросовестные плательщики в группе с уровнем дохода от 30 тыс. до 50 тыс. рублей.

Достаточно высокий процент 8,49% невозврата кредита в группе с доходом от 50 тыс до 200 тыс. рублей. Это может быть связано с тем что данная группа самая большая по численности и в ней статистически может быть больше просто недобросовестных плательщиков.

В группе с высоким уровнем дохода более 1000 тыс. руб. процент невозврата кредита 8%, что тоже немало, скорее всего это связано с тем что и размер кредита при высоком уровне дохода, тоже большой, а большие кредиты сложнее отдавать.

Допустим. Что рассматривать категории с малым количеством эпизодов не корректно. В таком случае рассматривать категории `'C'` и `'В'` тоже не совсем правильно, так как, на мой взгляд разница доходов 50-200 тыс. и 200-1000 тыс. руб. достаточно большая, поэтому я решил расширить диапазон категорий, изменив условие в задании 16.

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–80000 — `'C3'`;
- 80001–130000 — `'C2'`;
- 130001–200000 — `'C1'`;
- 200001–350000 — `'B3'`;
- 350001–600000 — `'B2'`;
- 600001–1000000 — `'B1'`;
- 1000001 и выше — `'A'`.

Сгруппировал данные по новым категориям. Предположим, что категории с количеством меньше 100 и количеством эпизодов невыплат, рассматривать некорректно.

Тогда получается, что при увеличении дохода от 80 до 200 тыс. руб. увеличивается и вероятность задолженности по кредиту, а при увеличении дохода с 200 до 600 тыс. руб. вероятность задолженности заметно снижается. Пиковое значение вероятности задолженности, при доходе примерно 160-170 тыс. руб.

Самый низкий процент должников это люди с доходом 30-50 тыс. и с доходом 350-600 тыс. руб.

Но считаю, что данную зависимость хорошо было бы считать неразрывно с размером кредита или размером ежемесячного платежа. Категорировать данные, например по отношению Хплатежа / Хдохода, или с двойным условием, например если доход 100-150 тыс. и ежемесячный платеж 50-100 тыс., то – категория `'C'`.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Для определения зависимости влияния целей кредита на его возврат в срок так же составим сводную таблицу в которой сгруппируем данные по столбцу **purpose_category**, который ранее добавили в таблицу data. В таблицу опять поместим значения задолженности из столбца **debt** и определим их количество, сумму и среднее значение.

In [29]:
data_pivot = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean'])
display(data_pivot)

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

**Вывод:** Исходя из полученных данных можно сказать что самая большая группа это «операции с недвижимостью», а самая малочисленная «проведение свадьбы». Несмотря на разницу в количестве данных целей, эти группы близки по среднему значению возврата кредита.

В случае с категорией «операции с недвижимостью» это может быть связано с тем что перспектива потерять купленную недвижимость более мотивирует на выплату кредита.

В случае с группой «проведение свадьбы» низкий процент задолженности связан с тем что на данные цели берется не большой кредит, а маленький кредит отдать проще.

Группы «операции с автомобилем» и «получение образования» не как не связанные между собой по назначению, но очень близки по количеству и среднему показателю возврата кредита. 

В случае с категорией «операции с автомобилем» высокий процент невозврата кредита может быть связан с тем что некоторые заемщики не дорожат своим автомобилем из-за его высокой амортизации. Либо не спешат выплачивать кредит надеясь что автомобиль в последующем можно будет продать и закрыть большую часть кредита.

В случае с группой «получение образования» высокий процент невозврата кредита может быть связан с тем что подходящая работа после получения образования еще не найдена и выплата кредита задерживается. Либо при совмещении работы и учебы получаемый доход снижается.

**Так же я решил в исследование добавить, на мой взгляд, еще один немаловажный критерий - возраст заемщика**

#### Как возраст заемщика влияет на возврат кредита в срок?

Для определения всех возрастов людей сгруппируем их по возрастанию и посчитаем количество каждого возраста.

In [30]:
display(data.groupby('dob_years')['dob_years'].count())

dob_years
0     100
19     14
20     51
21    110
22    183
23    250
24    263
25    356
26    406
27    490
28    501
29    542
30    533
31    555
32    505
33    577
34    595
35    613
36    552
37    530
38    594
39    571
40    601
41    601
42    591
43    509
44    541
45    493
46    466
47    477
48    534
49    505
50    508
51    444
52    483
53    457
54    473
55    441
56    478
57    453
58    454
59    440
60    373
61    352
62    347
63    268
64    258
65    193
66    182
67    167
68     99
69     83
70     65
71     56
72     33
73      8
74      6
75      1
Name: dob_years, dtype: int64

При этом выявилась аномалия, у 100 человек возраст 0 чего быть не может. Так как количество аномалий не большое меньше половины процента, нулевые значения можно заменить медианными значениями.

In [31]:
data.loc[data['dob_years'] == 0, 'dob_years'] = data['dob_years'].median()

Проверим сколько нулевых значений осталось в столбце.

In [32]:
print(data.loc[data['dob_years'] == 0, 'dob_years'].count())

0

Далее необходимо категоризировать возрастные диапазоны с условием
- 19–30 — `'молодые'`;
- 31–47 — `'средний возраст'`;
- 48–65 — `'пожилые'`;
- старше 65 — `'пенсионеры'`.

In [33]:
def categorize_age (year):
    if year <= 30:
        return 'молодые'
    if year <= 47:
        return 'средний возраст'
    if year <= 65:
        return 'пожилые'
    return 'пенсионеры'

Добавим в исходный датафрейм столбец **categorize_years** с категориями соответствующими возрасту заемщика методом **apply()**.

In [34]:
data['categorize_years'] = data['dob_years'].apply(categorize_age)

Ну и для определения зависимости возраста плательщика на возврат кредита в срок составим сводную таблицу в которой сгруппируем данные по столбцу **categorize_years**, который добавили в таблицу data. В таблицу поместим значения задолженности из столбца **debt** и определим их *количество*, *сумму* и *среднее значение*.

In [35]:
data_pivot = data.pivot_table(index='categorize_years', values='debt', aggfunc=['count', 'sum', 'mean'])
display(data_pivot)

                 count  sum      mean
                  debt debt      debt
categorize_years
молодые           3699  403  0.108948
пенсионеры         700   35  0.050000
пожилые           7461  455  0.060984
средний возраст   9471  839  0.088586

**Вывод** Исходя из полученных данных видно что больше всего заемщиков в возрасте от 30 до 47 лет. Меньше всего к просрочке или невыплате платежа склонны люди в возрасте от 48  и старше. Чаще  всего, иметь долги по кредиту, могут себе люди в возрасте от 19 до 30 лет. Возраст явно влияет на выплату кредита. С увеличением возраста, увеличивается и ответственность по выплате кредита.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски данных были в столбцах **days_employed** и **total_income** причем бсушествовали совместно то есть если есть пропуск в сиолбце **days_employed**, то есть и в **total_income**.
Данные пропуски обусловлены скорее всего человеческим фактором и не являются технологическими.
А по типу могут быть как случайные, так и неслучайные.
Случайные например: у студента нет еще трудового стажа, поэтому он не указан. Или у пенсионера трудовой стаж уже не важен поэтому и не указан.
Неслучайные пропуски сделаны намеренно, например кто-то из госслужащих намеренно не указывал уровень дохода.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заменять пропуски медианными значениями долее корректно, потому что средние значения могут быть искажены большими или меньшими значениями. Так пара больших значений 1000 тыс. руб. на сотню средних 70 тыс.руб. сильно сместят баланс в сторону больших значений.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

Как показало исследование на возврат кредита заемщиком влияет множество факторов. И при одобрении кредита нельзя ориентироваться на каждый из факторов отдельно, а необходимо все факторы рассматривать совместно. 
Так, например высокий уровень дохода заемщика не всегда может гарантировать стопроцентный возврат кредита, зато семейное положение может подсказать кто из заемщиков более добросовестный плательщик.
Исследование показало, что:

1 Наличие детей в семьях увеличивает вероятность невыплаты кредита, но количество детей в семьях не сильно влияет на выплату кредита.

2 Заемщики, находящиеся в браке, разводе или будучи вдовцами лучше возвращают кредиты чем не состоящие в браке.

3 Заемщики с уровнем дохода 30–50 тыс. руб. и 350–600 тыс. руб. долги возвращают лучше чем заемщики с уровнем дохода 80-200 тыс. руб.

4 Цели кредита так же влияют на возврат кредита при покупке жилья люди более охотнее выплачивают кредит чем при покупке автомобиля. 

В данном исследование еще хорошо было бы проанализировать как размер кредита влияет на его выплату.

5. Ну и с увеличением возраста заемщика вероятность погашения кредита так же увеличивается.

Еще интересно было бы проверить влияет ли пол заемщика на выплату.

В общем, по итогам исследования самым надежным плательщиком является овдовевший, бездетный пенсионер с уровнем дохода от 30 до 50 тыс. руб., пожелавший жениться еще раз.
Ну а самый не надежный заемщик это тридцатилетний, не женатый человек, с ребенком и доходом 165 тыс. руб., желающий купить автомобиль.